:root{
    --main-color: #00e5ff;
    --black:#13131a;
    --bg:#005f69;
    --ref:#5F9EA0;
    --border:.1rem solid rgba(255,255,255,.3);
  }
  body::-webkit-scrollbar{
    display: none;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
  }
  /* section{
    padding:2rem 7%;
  } */
  body{
    /* min- height: 100vh; */
    background: var(--black);
    background-size: cover;
    background-position: center;
  }
  .header{
    /* background: var(--bg); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    /* border-bottom: var(--border); */
    position: absolute;
    top:0; 
    left: 0; 
    right: 0;
    z-index: 100;
  }
  
  .navbar{
    display: flex;
  }

  .navbar .active{
    margin:0 3rem;
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
  }
  .navbar a{
    margin:0 3rem;
    font-size: 2rem;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
  }
  .Logo{
    font-size: 4.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }
  
  /* Home */
  .home{
    height: 100vh;
    width: 100vw;
    background-color:#161719;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

}

.image_p{
    height: 45vw;
    width: 45vw;
    /* background-color: rgb(0, 255, 81); */
    background:url(/photo\ portfolio\ .jpg) no-repeat;
    background-size: cover;
    background-position: center;
    }
  .home .content{
    width:50vw ;
    /* background-color: aqua; */
  }
  
  .home .content .large-font{
    font-size: 5.5rem;
    color:#ffffff;
    
  }

 
  .home .content .small-font{
    font-size: 3.15rem;
    color: #00e5ff;
    position: relative;
    animation-name: font-animation;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-delay: 50ms;
    animation-duration: 950ms;
  }
  @keyframes  font-animation{
    from{
      left: 0px;
    }
    to{
      left: -500px;
    }
  }
  .about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
  }
  .home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: #e5e5e5;
    position: relative;
    animation-name: font-animation;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-delay: 100ms;
    animation-duration: 1.02s;
  }
  .box-home{
    /* height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vw 7vw 0 0;
    gap: 9vw;
    
  }
  .botton{
    position: relative;
    animation-name: botton-animation;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-delay: 100ms;
    animation-duration: 1.02s;
  }
  @keyframes botton-animation{
    from{
      top:0;
    }
    to{
      top:250px;
      z-index: -1;
    }
  }
  .box-home a{
    font-size: 3em;
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color:transparent;
    border: solid #ffffff;
    color:#ffffff;
    /* text-align: center; */
    border-radius: 25px;
    
  }
  .box-home a:hover{
    /* background-color: #00e5ff; */
    border: solid #00e5ff;
    color: #00e5ff;
  }

  /* About me  */
  .about{
    height: 100vh;
    background-color: #161719;
    display: flex;
  }
  .hobbies{
    display: flex;
    flex-direction: column;
    width: 13vw;
    /* background-color: #00e5ff; */
    position: relative;
    top: 60px;
  }
  .hobbies h2{
    font-size: 2.8rem;
    color: #018594;
  }
  .hobby-list p{
    margin-top: 10px;
    font-size: 1.7rem;
    color: #e5e5e5;
  }
  .container-box{
    display: flex;
    flex-direction: column;
    width:80vw;
    /* background-color: #00e5ff; */
  }
  .container-box .c-text h1{
    font-size: 4.4rem;
    color: #fff;
  }
  .container-box .education{
    position: relative;
    top: 10px;
  }
  .container-box .education h2{
    font-size: 2.8rem;
    color: #018594;
  }
  .container-box .education p{
    font-size: 1.9rem;
    color: rgb(255, 255, 149);
    margin-top: 10px;
  }
  .container-box .skill{
    margin-top: 30px;
  }
  .container-box .skill h2{
    font-size: 3rem;
    color: #018594;
  }
  .b-skill {
    display: flex;
    /* background-color: #00e5ff; */
    height: 150px;
  }
  .b-skill h3{
    font-size: 2.2rem;
    color: #fff;
  }
  .b-skill .text-b-skill p{
    font-size: 1.7rem;
    color: #e5e5e5;
    position: relative;
    left: 10px;
    top: 4px;
    margin-bottom: 10px;
  } 
  /* Resume */
  
  #resume {
    background-color: var(--black);
    text-align: center;
    padding: 20px;
  }
  .r-box{
    display: flex;
    justify-content: center;
    gap: 7vw;
  }
  #resume .r-home{
    width: 120px;
  }
  #resume a {
    font-size: 1.2vw;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    background-color:transparent;
    border: solid #ffffff;
    color:#ffffff;
    /* text-align: center; */
    border-radius: 25px;
  }
  #resume a:hover {
    border: solid #00e5ff;
    color: #00e5ff;
  }
  #resume h2{
    font-size: 6rem;
    text-transform: uppercase;
    color:#00e5ff;
    text-align: center;
    text-decoration: underline;
  }
  #resume p{
    font-size: 1.6rem;
    color:#e5e5e5;
    padding:1rem 0;
    line-height: 1.8;
  }
  
/* project  */
.home-logo i{
  position: absolute;
  left: 1px;
  font-size: 4rem;

}


.p-font{
  /* font-size: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color:#00e5ff;
}
.p-font h2{
  font-size: 6rem;
  text-transform: uppercase;
  text-decoration: underline;
}
.project{
  display: flex;
  height: 500px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.box{
  height: 400px;
  width: 350px;
  border-radius: 15px;
  border: white solid 3px;
  background-color: #e9e9f02a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h3{
  font-size: 2.5rem;
  color: #fff;

}
.box:hover {
  border: #00e5ff solid 4px;
}
.box:hover h3{
  color: #00e5ff;
}

/* let's talk  */
.fullscreen{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 600px;
  background-color: #005f69;
  border-radius: 20px;
  border: white 2px solid;
}
.container:hover{
  border: #00e5ff 2px solid;

}
.t-text p{
  font-size: 3rem;
  font-weight: 600;
  color: white;
  position: relative;
  top: 65px;
  right: 182px;
}
.t-box{
  position: relative;
  top: 80px;
}
.t-box input{
  width: 430px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  border: #ffffff 3px solid;

}
.t-box button{
  width: 70px;
  background-color:#14D8D4;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1B205B;
  height: 40px;
  border-radius: 0 10px 10px 0;
  border: none;
}
.t-box button:hover{
  background-color: #8EFBF7;
}
.t-box input:hover{
  border: #8EFBF7 3px solid;
}
.m-box{
  position: relative;
  top: 100px;
}
.m-box input{
  width: 500px;
  height: 100px;
  border-radius: 10px;
  border: #ffffff 3px solid;
}
.t2-box p{
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.708);
  position: relative;
  top: 140px;
  /* right: 182px; */
}
/* footer  */
.footer{
  height: 200px;
  background-color:var(--black);
  border-top: #fff 2px solid;
  color: white;
  display: flex;
  justify-content: center;
}
.footer div{
  margin: 0 10px 10px 10px;
}
.footer h2{
  font-size: 2.8rem;
  background: #005f69;
  width: 100vw;
  display: flex;
  justify-content: center;

}
.footer p{
  font-size: 1.8rem;
}
.f-heading{
  display: flex;
  justify-content: center;
}
.f-box1{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}
.f-box1 a{
  text-decoration: none;
  color: aliceblue;
}
.f-icon{
  /* background: #005f69; */
  width: 100vw;
  height: 30px;justify-content: center;
  display: flex;
  position: relative;
  top: 40px;
  
}
.f-icon i{
  margin: 0 20px;
  font-size: 2rem;
}